body {
  background-color: #fffbf7;
  margin: 0px;
  padding: 0px;
}

.main {
  margin-top: 140px;
  padding: 10px;
  text-align: center;
}

.main h1 {
  color: #025157;
  font-weight: bold;
  font-size: 60px;
  font-family: "Alegreya", serif;
}

.texto-gris {
  color: #46484c;
}

.main form button {
  color: #fff;
  background-color: #025157;
  height: 47px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
}

.main form input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 45px;
  margin-right: -5px;
  border: 1px solid #c6c6c6;
  padding: 0 5px;
}

.main .grey-text {
  color: #a6a6a6;
  margin-bottom: 5px;
}

.main .banner {
  margin-top: 25px;
  text-align: center;
}

.main .second-image {
  width: 70%;
}
