body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
}

.texto-debajo {
  color: #46484c;
}

.promocional {
  color: #8b8b8bcc;
}

form .texto-blanco {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;
  margin-left: -10px;
  height: 100%;
  border-radius: 8px;
  height: 55px;
}

form input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
  height: 55px;
}